<div class="container-fluid" style="margin-top:56px;" id="top-nav">
	  <div class="row-fluid">
	    <div class="span12">
	    		<div class="widget" >
	    								
					<div class="widget-header">
					    <div class="navbar">
					      <div class="navbar-inner">
					        <ul class="nav">
					          <li ><a href="/index/home/index">首页</a></li>
					          <li><a href="/index/dataquery/temperature">温度</a></li>
					          <li><a href="/index/dataquery/humidity">湿度</a></li>
					          <li><a href="/index/dataquery/wind">风速</a></li>
							  <li><a href="/index/video/index">视频监控</a></li>
							  {if $Think.session.user.authority== 0}
					          <li><a href="/index/equipment/equipinput">设备管理</a></li>
							  <li><a href="/index/document/index">文档管理</a></li>
							  <li><a href="/index/usermanage/index">用户管理</a></li>
							  {/if}
					          {if $Think.session.user.authority== 1}
					          <li><a href="/index/nodemanage/nodemanage">节点管理</a></li>
					          <li><a href="/serviceman/equipment/repair">报修设备管理</a></li>
					          {/if}
					          {if $Think.session.user.authority== 2}
					          <li><a href="/user/bookrepair/bookrepair">设备报修</a></li>
							  <li><a href="/user/userfiles/userfiles">文档中心</a></li>
							  {/if}
					        </ul>
					      </div>
					    </div>
					</div>   
				  </div>  
		  </div>  	
	</div>
</div>