       <div class="login" >
          <h4 class='content_title'>智能实验室管理系统</h4>
          <form class="from"  method="get">
            <div><input  placeholder='手机号' type="text"></div>
            <div><input type="password" class="password" ></div> 
            <div class="loginError">{$err}</div>
            <div class='content_footer'>
               <a class='forget' href='#'>忘记密码？</a>
               <button type="submit" name="load" value="1">登录</button>
            </div>
          </form>
            <div class="border"></div>
            <div class="text_center">
              <a class='reg' href="/index/login/index?id=0" >没有账号？点我注册</a>
            </div>
            <div style="font-size: 12px; color:#aaaaaa;margin-top: 10px">
              Demo:
              <br>
              管理员账号：13055667788 密码：abcdef
              <br>
              维修人员：13055668877 密码：123456
              <br>
              普通用户：13055665566 密码：123456
            </div>
        </div>