<div class="container-fluid" style="margin-top:56px;" id="top-nav">
	  <div class="row-fluid">
	    <div class="span12">
	    		<div class="widget" >
	    								
					<div class="widget-header">
					    <div class="navbar">
					      <div class="navbar-inner">
					        <ul class="nav">
					          <li ><a href="/home/index/index">首页</a></li>
					          <li><a href="/home/manager/pm25">PM2.5</a></li>
					          <li><a href="/home/manager/pm10">PM10</a></li>
					          <li><a href="/home/manager/temperature">温度</a></li>
					          <li><a href="/home/manager/humidity">湿度</a></li>
							  <li><a href="/home/manager/manage">管理</a></li>
					        </ul>
					      </div>
					    </div>
					</div>   
				  </div>  
		  </div>  	
	</div>
</div>